

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face { 
font-family: "NotoSansRegular"; 
src: url("../fonts/NotoSans-Regular.ttf"); 
}
@font-face { 
font-family: "FjallaOneRegular"; 
src: url("../fonts/FjallaOne-Regular.ttf"); 
}

body {
    font-family: NotoSansRegular, Helvetica, Arial, sans-serif;
}

.container,
.jumbotron .container {
    max-width: 800px;
}

.cover {
    background-image: url("../img/cellar.jpg");
    background-size: cover;
    font-family: FjallaOneRegular, Helvetica, Arial, sans-serif;
    color: white;
}

.cover .container {
    padding-top: 100px;
}
.cover h1.headline {
    color:white;
    font-size: 8em;
}

.cover .headline-bckrd {

    background-color: rgba(198,27,16,0.7);
    position: relative;

}

.cover .headline-bckrd p {

    font-size: 1em;

}

.cover .company-signet {
    color:white;
    
    position:absolute;
    font-size:3em;
    top:-1.1em;
}

.cover .subline-txt {
    padding:10px;
}

.prod-row {
    position: relative;
}

.price-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
}

.price-wrapper img {
    width: 120px;
}

.price {
    font-size: 3em;
}














