<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron cover">
  <div class="container">
    <div class="headline-bckrd">
      <div class="company-signet">Bodega Patiño</div>
      <h1 class="headline">Merlot Auswahl</h1>
    </div>

    <div class="headline-bckrd subline-txt">
      Merlot, ein ganz besonderer Wein. Entdecken Sie bei uns eine kurze Geschichte des Merlots (kommt bald) <br />und unsere Empfehlungen ausgesuchter Melot Weine.
    </div>

  </div>
</div>
