{{template "pageHead.incl.html"}}
{{template "head.incl.html"}}

    <div class="container">

    {{range .products}}

        <div class="row prod-row">
          <div class="col-md-2 prod-img">
            <a rel="nofollow" target="_blank" href="http://www.amazon.de/gp/product/{{.ASIN}}/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN={{.ASIN}}&linkCode=as2&tag=p2we-21">
                <img src="img/{{.Image}}" height="300px">
            </a>
          </div>
          <div class="col-md-7">
            <a rel="nofollow" target="_blank" href="http://www.amazon.de/gp/product/{{.ASIN}}/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN={{.ASIN}}&linkCode=as2&tag=p2we-21">
                <h1>{{.Name}}</h1>
            </a>
            <p>Produzent: {{.Producer}} | Jahrgang: {{.Vintage}} | Herkunft: {{.Origin}}</p>
            <p>
                {{.Text}}
            </p>
          </div>
          <div class="col-md-3 prod-price">
          </div>
          <div class="price-wrapper">
            <p class="price">{{.Price}} €</p>
            <p>{{.Quantity}}</p>
            <p>
            <a rel="nofollow" target="_blank" href="http://www.amazon.de/gp/product/{{.ASIN}}/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN={{.ASIN}}&linkCode=as2&tag=p2we-21">
            <p>
              <img src="img/button-amazon.png">
            </p>
            <p>Zum Angebot 2</p>
            </a><img src="http://ir-de.amazon-adsystem.com/e/ir?t=p2we-21&l=as2&o=3&a={{.ASIN}}" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            </p>
          </div>
        </div>
        <hr />

    {{end}}

    {{template "footer.incl.html"}}

    </div>

{{template "pageFooter.incl.html"}}
